@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
    text-align: center;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.header {
    max-width: 1100px;
    padding: 2rem;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    gap: 0.625rem;
}

.logo_img {
    height: 100%;
    width: 50px;
}

.logo_name {
    color: black;
    align-items: center;
}

.navbar {
    width: 40%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    color: gray;
    font-weight: 800;
    gap: 1rem;
}

.navbar a:hover {
    color: blue;
}

.navbar a {
    color: gray;
    transition: color 0.2s;
}

.contct {
    width: 100px;
    height: 35px;
    color: white;
    background-color: rgb(56, 56, 178);
    border-radius: 5px;
    font-size: 0.8rem;
    border: none;
    transition: all 0.1;
    display: none;
}


.contct:hover {
    background-color: rgb(23, 23, 211);
}

.menu_button {
    display: none;
    width: 50px;
    height: 50px;
    align-content: center;
    border: none;
    padding: 10px;
}

.menu_icon {
    border: none;
}

.menu_img {
    width: 100%;
    height: 100%;
}


@media screen and (min-width:750px) {
    .contct {
        display: block;
    }

    .navbar {
        display: flex;
    }
}

@media screen and (max-width:749px) {
    .menu_button {
        display: block;
    }
}

.hero_section {
    max-width: 1100px;
    padding: 2rem;
    margin: 1px auto;
    /* border: 1px solid black; */
}

.hero_main {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: slideFromLeft 1s ease forwards;
    opacity: 1;
    align-items: center;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.top_main {
    color: rgb(56, 56, 178);
    font-weight: 800;
}

.main_heading {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

.main_discrtiption {
    text-align: center;
    padding: 40px 0px;
    color: gray;
    width: 70%;
}

.main_button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.button_1 {
    width: 100px;
    height: 35px;
    color: white;
    background-color: rgb(56, 56, 178);
    border-radius: 5px;
    font-size: 0.8rem;
    border: none;
    transition: all 0.1;
    font-weight: 500;
}

.button_1:hover {
    background-color: rgb(23, 23, 211);
}

.button_2 {
    width: 100px;
    height: 35px;
    color: white;
    background-color: rgb(64, 62, 62);
    border-radius: 5px;
    font-size: 0.8rem;
    border: none;
    transition: all 0.1;
    font-weight: 500;
}

.button_2:hover {
    background-color: rgb(39, 38, 38);
}

.right_div {
    height: 100%;
    width: 100%;
    padding: 40px 0px;
    justify-content: center;
}

.main_img {
    height: 80%;
    width: 80%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

@media screen and (min-width:750px) {
    .hero_main {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hero_section {
        max-width: 1100px;
    }

    .main_heading {
        width: 100%;
        padding-top: 10px;
        text-align: start;
    }

    .left_div {
        height: 100%;
        width: 50%;
        align-items: start;
    }

    .right_div {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: end;
    }

    .main_discrtiption {
        text-align: start;
        width: 85%;
    }

    .main_img {
        height: 400px;
        width: 80%;
        border-radius: 20px;
    }
}

.company_logo_box {
    max-width: 1100px;
    padding: 2rem;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px 0px;
    animation: slideFromLeft 1s ease forwards;
    opacity: 1;
    border: 1px solid black;
}

.logo_grid {
    display: grid;
    background-color: rgb(204, 199, 199);
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(130px, 100px));
    padding: 0.5rem;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border-radius: 10px;
}

.company_logo {
    padding: 0.5rem;
    color: rgb(74, 73, 73);
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.svg_img {
    width: 2rem;
    border-radius: 50px;
}
.advantages_grid_box{
    background-color: rgb(232, 229, 229);
}
.advantages_box {
    max-width: 1100px;
    padding: 2rem;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
}

.advantages_box_heading {
    font-weight: 700;
}

.advantages_box_discription {
    font-size: 0.9rem;
    width: 60%;
    color: rgb(74, 73, 73);
}

.advantages_box_grid {
    padding: 10px 0px;
    width: 80%;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(3 , 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 2rem;
    justify-content: center;
}

.grid_box {
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #4a90e2;
}

.grid_logo {
    width: 25%;
    height: 25%;
    margin-top: 10px;
    border-radius: 100%;
    border: 1px solid white;
}

.grid_heading {
    color: white;
    padding: 10px 0px 05px 0px;
    font-size: 17px;
    font-weight: 800;
}

.grid_discrption {
    color: white;
    padding: 05px 0px 10px 0px;
    font-size: 14px;
    font-weight: 200;
}

.grid_box:nth-child(2){
    background-color: #FF6289;
}
.grid_box:nth-child(3){
    background-color: #fcbf58;
}

.grid_box:nth-child(4){
    background-color: #44bfc3;
}

.grid_box:nth-child(5){
    background-color: #77b05d;
}

.grid_box:nth-child(6){
    background-color: #7d78b1;
}