* {
  padding: 0;
  margin: 0;
}

body{
  background-image: url("/Login Page Website using HTML and CSS/Images/Backgraound.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  /* border: 2px solid blue; */
  padding-top: 10%;
  padding-bottom: 10%;
  overflow: hidden;
  align-items: center;
}

.ul{
  display: flex;
  /* border: 2px solid rgb(255, 0, 0); */
  justify-content: center;
  font-size: 35px;
  align-items: center;
}

.ul1{
  display: flex;
  /* border: 2px solid rgb(255, 0, 0); */
  justify-content: center;
  font-size: 35px;
  align-items: center;
}

.np {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.name {
  /* border: 2px solid #ffee00; */
  width: 100%;
  height: 75px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

label {
  /* border: 2px solid greenyellow; */
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.fp,
.c,
.rm {
  /* border: 2px solid black; */
  padding: 10px;
  cursor: pointer;
}

.fp {
  color: white;
}

.fp:hover {
  color: #326fea;
}

#sub {
  /* border: 2px solid rgb(255, 0, 234); */
  width: 250px;
  height: 50px;
  color: #326fea;
  font-weight: bolder;
  font-size: 30px;
  background-color: #fe0096;
  margin: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub:hover {
  color: #fe0096;
  background-color: #326fea;
}

.a1,
.a2 {
  border: 3px solid blue;
  width: 250px;
  height: 100px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: #326fea;
  font-size: 20px;
}

.rm:hover {
  color: #fe0096;
}

button {
  border: 5px solid black;
}