* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 85vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.header_container {
    margin-bottom: 2.8rem;
}

.header_title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.headerDiscription {
    max-width: 570px;
    text-align: center;
    color: rgb(105, 99, 99);
    margin: 0 auto;
}

.cardsContainers {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width:700px) {
    .cardsContainers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1000px) {
    .cardsContainers {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1300px) {
    .cardsContainers {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card_container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(233, 224, 224);
    border-radius: 15px;
    overflow: hidden;
    /* border: 2px solid black; */
    box-shadow: 3px 3px 5px;
}

.card_Imag_Container {
    position: relative;
    overflow: hidden;
    height: 14rem;
}
@media (min-width: 770px) {
    .card_Imag_Container{
        height: 12rem;
    }
}

.cardImg {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_titale_container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_container:hover .cardImg {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_titale {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(25, 23, 23);
}

.card_titale:hover {
    color: rgb(67, 67, 191);
}

.card_discription {
    color: rgb(113, 107, 107);
    font-size: 1rem;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
}

.card_autor_caontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card_avtar {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(150, 147, 147);
    border-radius: 50%;
    background-color: rgb(243, 239, 239);
}

.autor {
    display: flex;
    flex-direction: column;
}

.autor_name {
    color: rgb(28, 28, 149);
}

.autor_date {
    color: rgb(136, 126, 126);
    font-size: 0.8rem;
}

.tag {
    font-size: 0.8rem;
    border: 1px solid rgb(76, 71, 71);
    border-radius: 5px;
    line-height: 1.3rem;
    padding: 0.3rem;
    color: gray;
    box-shadow: 5px 5px 5px;   
}